html {
	height: 1000px;
}

body {
	background: url(skyline.jpg) no-repeat center fixed;
	background-size: cover;
	overflow: hidden; 
}

.jumbotron {
	text-align: center;
}

.glyphicon.glyphicon-flash {
	font-size: 250px;
	text-shadow: 1px 2px 3px #000000, 2px 3px 4px #f8eed3;
	padding-bottom: 50px;
}

.coinmarketcap-currency-widget {
	color: #d9d9d9;
	max-width: 500px;
}

.fa.fa-reddit-alien {
	font-size: 35px;
	
}

.fa.fa-btc {
	font-size: 35px;
}

.fa.fa-line-chart {
	font-size: 35px;
}

.btn.btn-primary {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	box-shadow: none;
	background: transparent !important;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: transparent !important;
	box-shadow: none;
}
 
.btn.btn-primary:active, .btn.btn-primary.active {
    background: transparent !important;
    box-shadow: none;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%; 
	height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

